# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
.pyenv/

# Pipenv virtual environment
Pipfile
Pipfile.lock

# Poetry virtual environment
poetry.lock

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy type checker
.mypy_cache/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Sublime Text
*.sublime-workspace
*.sublime-project

# JetBrains IDEs
*.idea/

# Logs and local database
*.log
*.sqlite3
*.db

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# Docker
*.dockerignore

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.swp
*.swo
*.swn

# Environment Variables
.env
.env.local
.env.*.local
